<!DOCTYPE html>
<html>
<h1>MadLibs</h1>
<p>@Model.GetWord() he said @Model.GetWord() as he jumped into his speedboat</p>
<p> @Model.GetWord() and drove off with his @Model.GetWord() wife. The @Model.GetWord() is @Model.GetWord() is The @Model.GetWord() "</p>
</html>
